data/*
!data/.gitkeep
chroma*/
**/__pycache__/
.env
.DS_Store
api/
build/
MANIFEST.in
src/raglight.egg-info/
systemPrompt.txt
dist/
build/
defaultDb/
.mypy_cache/
.pytest_cache/
test.py
qdrant_storage/
*.ipynb
new_version.sh
.envrc
